.about-section {
  padding: 20px;
  background-color: white;
  width: 100vw;
}

.tile-header {
  color: #87A28E;
  text-align: right;
}
.about-content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}
.about-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.about-left img {
  max-width: 80%;
  border-radius: 10px;
}
.about-right {
  flex: 1;
}
.dropdown-container {
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  margin-bottom: 10px;
}

.dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  text-align: left;
  font-size: 35px;
  color: #87A28E;
}

.dropdown.expanded {
  background-color: #e0e0e0;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  color: #87A28E;
  transition: max-height 0.3s ease-in-out;
  padding: 0 10px;
  background: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 25px;
}

.dropdown-content.expanded {
  max-height: 150px; /* Fixed height */
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
