.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7%;
    width: auto;
    height: auto;
  }
  
  .hero-left {
    flex: 1;
  }
  
  .hero-right {
    flex: 1;
    width: 100%;
    position: relative;
  }
  
  .header1 {
    font-family: 'Dongle', sans-serif;
    font-size: 100px;
    color: white;
  }
  
  .header2 {
    font-family: 'Dongle', sans-serif;
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    color: white;
  }
  