.industry_section {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.industry_title {
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-size: 90px;
    margin-top: 5%;
}
.porter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.porter img{
    max-width: 40%;
    border-radius: 10px;
}
.determinant-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: transparent;
  }
  
  .d_tab {
    border-collapse: collapse;
    font-size: 24px;
    background: transparent;
    width: 80%;
  }
  
  .d_tab th, .d_tab td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    color: white; /* Optional: To make the text white */
  }
  
  .d_tab th {
    font-weight: bold;
  }
  