.about-section {
  text-align: right;
  padding: 4rem 1rem;
  background-color: white;
  border-radius: 25px;
  width: 100vw;
}

.tile-header {
  font-family: 'DM Serif Display', serif;
  font-size: 90px;
  color: #87A28E;
  margin-right: 5%;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid #87A28E;
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
}

.about-left img {
  width: 80%;
}

.about-right {
  flex-grow: 1;
  margin-left: 2rem;
}

.dropdown-container {
  width: 617px;
  max-width: 700px; /* Adjust width to fit container */
  border: 2px solid #87A28E;
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
}

.dropdown {
  background-color: white;
  color: #87A28E;
  padding: 1rem;
  width: 580px;
  font-size: 40px;
  border: 2px solid #87A28E;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
}

.dropdown.expanded {
  background-color: #87A28E;
  color: white;
}

.dropdown-content {
  display: none;
  padding: 1rem;
  background-color: #87A28E;
  border: 1px solid #87A28E;
  border-radius: 5px;
  font-size: 25px;
  text-align: left;
  color: white;
}

.dropdown-content.expanded {
  display: block;
}
